.main-tag-line {
	font-size: 0.8em;
}

#js-star-slide-cover q {
	margin-top: 20px;
}

.cover-image {
	display: block;
	text-align: center;
	margin-top: 20px;
}

#js-star-slide-one q, #js-star-slide-two q, #brute-data q {
	margin-top: 10px;
}

.author {
	display: inline-block;
	font-size: 0.5em;
	position: absolute;
	bottom: 5px;
	right: 20px;
}

#js-star-slide-one>span, #js-star-slide-two>span, #js-star-slide-three>span, #brute-data>span {
	display: block;
	margin-top: 20px;
	position: relative;
	line-height: 1.5em;
}

#brute-data>span {
	font-size: 0.9em;
}

#js-star-slide-one>span>img {
	position: absolute;
	z-index: -1;
	/*opacity: 0.5;*/
}

#js-star-slide-two>span>img, #brute-data>span>img {
	position: absolute;
	z-index: -1;
	width: 100%;
	/*opacity: 0.5;*/
}

#js-star-slide-three>q {
	margin-top: 0px;
	font-size: 1.4em;
}

 #js-star-slide-three>span>img {
 	position: absolute;
 	z-index: -1;
 	right: 20px;
 	width: 60%;

 }

#js-star-slide-three>span.aligning-image {
	margin-top: 10px;
}
#js-star-slide-four {
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
}

#js-star-slide-four h1 {
	margin-bottom: 10px;
}

#js-star-slide-four h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(102, 102, 102);
	transition: transform ease-out 500ms;
}

 #js-star-slide-four.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

#js-star-slide-four.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.75s;
    -moz-transition-delay:    0.75s;
    -ms-transition-delay:     0.75s;
    -o-transition-delay:      0.75s;
    transition-delay:         0.75s;
}


#js-star-slide-four>div {
	padding-top: 25px;
	background: #FFFFFF;
	border-radius: 20px;
	width: 300px;
	padding-left: 1em;
}


#js-star-slide-four h2.svg {
	background: url('../img/svg.png') transparent 2.5em center no-repeat;
	background-size: 1em;
}

#js-star-slide-four h2.canvas {
	background: url('../img/canvas.png') transparent 4.3em center no-repeat;
	background-size: 1em;
}


.canvas-color {
	color: #9BDC10;
}

.svg-color {
	color: #FF9900;
}


#js-star-slide-four .footnote {
	font-size: 0.3em;
}


#js-star-slide-five, #js-star-slide-six {
	background: #FFFFFF;
	border-radius: 20px;
	padding: 61px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
}

#js-star-slide-six {
	text-align: right;
}

#js-star-slide-six>span, #js-star-slide-six>p {
	display: inline-block;
}

#js-star-slide-six>span {
	float: left;
	margin-top: 30px;
}

#js-star-slide-six>p {
	width: calc(100% - 280px);
	font-size: 0.7em;
	text-align: left;
}

#big.should-be-white-big {
	background: #FFFFFF;
	width: 1000px;
	border-radius: 20px;
}

#js-star-data-kind-examples q {
	margin-top: 0;
	font-size: 1.4em;
}

#js-star-data-kind-examples>span {
	display: inline-block;
	margin-top: 5px;
}

#big {
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
	padding: 60px;
}

#big .thoughts {
	line-height: 110px;
}

#svg-example q {
	margin-top: 0;
	font-size: 1.4em;
	padding-left: 10px;
}

.example-image {
	display: inline-block;
	margin-top: 20px;
}

#svg-example .footnote, #svg-example-two .footnote {
	position: absolute;
	bottom: 10px;
	font-size: 0.8em;
}

#svg-example-two q {
	margin-top: 10px;
	font-size: 1.4em;
	padding-left: 10px;
}

#svg-example-three q {
	margin-top: 10px;
	font-size: 1.4em;
	padding-left: 10px;
}

#svg-example span, #svg-example-two span, #svg-example-three span {
	display: block;
	width: 100%;
}

#svg-example span>img {
	width: 100%;
}

#svg-example-two span>img {
	width: 800px;
	margin-top: 20px;
}

#svg-example-three span>img {
	width: 800px;
	margin-top: 40px;
}

#open-data-available q {
	margin-top: 10px;
	margin-bottom: 20px;
}

#open-data-available span {
	display: block;
	margin-top: 10px;
	font-size: 0.9em;
}


#open-data-available {
	position: relative;
}

.open-data-background {
	position: absolute;
	bottom: -150px;
	left: 0;
	width: 100%;
	opacity: 0.5;
}

#js-star-data-kind-astuces q {
	margin-top: 0px;
	font-size: 1.3em;
}

#js-star-data-kind-astuces strong {
	font-size: 1.6em;
	display: inline-block;
	text-transform: uppercase;
	margin-top: 60px;
}

#js-star-data-kind-astuces-two q {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.4em;
}

#js-star-data-kind-astuces-two span {
	display: block;
	margin-top: 5px;
	font-size: 0.8em;
}

#tiny {
	width: 800px;
}

#tiny.should-be-white-tiny, #tiny-2.should-be-white-tiny, #tiny-3.should-be-white-tiny {
	background: #FFFFFF;
	text-align: center;
	border-radius: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
}

#js-star-slide-four>div {
	background: #FFFFFF;
	border-radius: 20px;
	width: 300px;
	padding-left: 1em;
}

.should-be-white-background {
	background: #FFFFFF;
	border-radius: 20px;
	padding: 60px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
}

.should-be-white-background-inline-block {
	background: #FFFFFF;
	border-radius: 20px;
	padding: 60px;
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
	color: rgb(102, 102, 102);
}

#france-dans-le-top {
	position: relative;
}

#france-dans-le-top q {
	margin-top: 0px;
}

#imagination .imagination {
	text-transform: uppercase;
	font-size: 0.9em;
	margin-top: 15px;
	font-weight: 900;
}


#france-dans-le-top .source-note {
	position: absolute;
	bottom: 30px;
	left: 60px;
}

.aligning-podium {
	display: block;
	text-align: center;
	background: url('../img/Slide15-podium.png') transparent center center no-repeat;
	background-size: 300px;
	width: 100%;
	height: 300px;
}

.questions {
	display: inline-block;
	margin-top: 20px;
}

#js-star-data-kind-astuces-two span.remarque {
	display: inline-block;
	margin-top: 40px;
}

.main-js-star-logo {
	position: fixed;
	display: inline-block;
	width: 200px;
	height: 200px;
	bottom: 10px;
	right: 10px;
	z-index: 10;
}


#js-star-data-kind-examples {
	background: url('../img/slide16-donnee.jpg') #FFFFFF right bottom no-repeat;
	background-size: 300px;
}

#js-star-data-kind-astuces span.questions, #js-star-data-kind-astuces-two span.questions {
	background: url('../img/slide17-check.png') transparent left center no-repeat;
	background-size: 30px;
	padding-left: 40px;
}

